@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Readex Pro", sans-serif;
  color: #323232;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

nav {
  margin: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  padding: 3px 10px;
  color: #54b2cf;
  background-color: #e4f3f7;
  border-radius: 20px;
  font-size: 14px;
}

.active {
  background-color: #54b2cf;
  color: white;
}

.container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .box {
  width: 48%;
  background-color: #e4f3f7;
  border-radius: 20px;
  margin: 10px 0;
}

.box div,
.box h3 {
  padding: 10px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-icon {
  background-color: #54b2cf;
  color: white;
  padding: 10px;
  font-size: 10px;
  border-radius: 50%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 3px 0 5px lightgray;
  padding: 20px 20px 50px 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
}

.no-active {
  color: lightgray;
}
