@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Readex+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Readex Pro", sans-serif;
  color: #323232;
}

.content {
  margin: 5% 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95vh;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

header i {
  margin-left: 2%;
}

.center-icon {
  font-size: 10px;
  border: 1px solid #8e8e93;
  border-radius: 50%;
  padding: 3px;
}

header h1 {
  margin-left: 20%;
}

.top-box {
  padding: 2%;
  background-color: #54b2cf;
  color: white;
  text-align: center;
  border-radius: 15px;
}

.code {
  font-weight: bold;
}

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-box div {
  margin: 0 2%;
}

.img-box {
  padding: 5%;
  background-color: #e4f3f7;
  border-radius: 15px;
}

.text-box {
  padding: 5% 0;
}

.text-box p {
  color: #8e8e93;
  margin: 3% 0;
}

.text-box span {
  color: white;
  padding: 0 10%;
  border-radius: 15px;
}

.tip-1 {
  background-color: #54b2cf;
}

.tip-2 {
  background-color: #3cd2d2;
}

.tip-3 {
  background-color: #b88af8;
}

.text-box h2 {
  margin: 5% 0;
}

.icon-box {
  text-align: center;
  color: #323232;
}

.bottom-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.bottom-box p {
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .bottom-icon {
  padding: 20px;
  background-color: #54b2cf;
  border-radius: 50%;
  color: white;
}

footer a {
  padding: 5% 15%;
  background-color: #323232;
  color: white;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
}
